body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
}

*,*:before, *:after{
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: #DBD9DB;
  }

nav {
  margin: 0 auto;
  padding: 10px 0px 15px 15px;
  position: fixed;
  width: 420px;
  background-color: #010001;
}

h1{
  font-size: 1.2rem;
  font-weight: 600;
}

h3{
  font-size: .9rem;
  font-weight: 500;
}

.restaurant-list {
  padding-top: 11%;
  display:inline-block;
  }

.location{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #343334;
}

.location:hover {
  background-color: #ABAAAB;
}

.arrow{
  float: right;
  padding-top: 7%;
  padding-right:5%;
}

.content{
  float: left;
  padding-left: 5%;
  padding-top: 4%;
  padding-bottom: 4%;
  line-height: 1.2rem;
}
